Repository space-sunrise/lust-station, pull requests merged in 2024-12, with the labels that each got.

#102 Карта для ивентов by popugisreal
  Resources/Maps/_Lust/Event/popug/hell.yml
Labels: Статус: Несортированный, Статус: Требует Рассмотрения, Нет C#, size/XL, Изменения: Карты

#103 Плюшки 03.12
  Resources/Locale/ru-RU/_prototypes/_lust/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/_strings/_lust/datasets/dobitchik.ftl
  Resources/Locale/ru-RU/_strings/_lust/datasets/kharsha.ftl
  Resources/Locale/ru-RU/_strings/_lust/datasets/medi.ftl
  Resources/Locale/ru-RU/_strings/_lust/datasets/pinkers.ftl
  Resources/Locale/ru-RU/_strings/_lust/datasets/vaxel.ftl
  Resources/Prototypes/_Lust/Catalog/sponsor_uplink_catalog.yml
  Resources/Prototypes/_Lust/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/plush_medi.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/plushie_pinkers.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/plushie_vaxel.png
Labels: Статус: Несортированный, Статус: Требует Рассмотрения, size/L, Изменения: Спрайты, Изменения: Локализация, Нет C#

#101 Одежда специалиста
  Resources/Locale/ru-RU/_lust/prototypes/back.ftl
  Resources/Locale/ru-RU/_lust/prototypes/cloaks.ftl
  Resources/Locale/ru-RU/_lust/prototypes/head.ftl
  Resources/Locale/ru-RU/_lust/prototypes/jumpsuits.ftl
  Resources/Locale/ru-RU/_lust/prototypes/shoes.ftl
  Resources/Prototypes/_Lust/Entities/Clothing/Back/Satchel/SpecialistSatchel.yml
  Resources/Prototypes/_Lust/Entities/Clothing/Head/Hat/SpecialistBeret.yml
  Resources/Prototypes/_Lust/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_Lust/Entities/Clothing/Shoes/Boots/SpecialistBoots.yml
  Resources/Prototypes/_Lust/Entities/Clothing/Uniforms/Jumpsuit/SpecialistJumpsuit.yml
  Resources/Textures/_Lust/Clothing/Back/Satchels/SpecialistSatchel.rsi/equipped-BACKPACK.png
  Resources/Textures/_Lust/Clothing/Back/Satchels/SpecialistSatchel.rsi/icon.png
  Resources/Textures/_Lust/Clothing/Back/Satchels/SpecialistSatchel.rsi/inhand-left.png
  Resources/Textures/_Lust/Clothing/Back/Satchels/SpecialistSatchel.rsi/inhand-right.png
  Resources/Textures/_Lust/Clothing/Back/Satchels/SpecialistSatchel.rsi/meta.json
  Resources/Textures/_Lust/Clothing/Head/Hat/SpecialistBeret.rsi/equipped-HELMET.png
  Resources/Textures/_Lust/Clothing/Head/Hat/SpecialistBeret.rsi/icon.png
  Resources/Textures/_Lust/Clothing/Head/Hat/SpecialistBeret.rsi/inhand-left.png
  Resources/Textures/_Lust/Clothing/Head/Hat/SpecialistBeret.rsi/inhand-right.png
  Resources/Textures/_Lust/Clothing/Head/Hat/SpecialistBeret.rsi/meta.json
  Resources/Textures/_Lust/Clothing/Neck/Cloaks/SpecialistMantle.rsi/equipped-NECK.png
  Resources/Textures/_Lust/Clothing/Neck/Cloaks/SpecialistMantle.rsi/icon.png
  Resources/Textures/_Lust/Clothing/Neck/Cloaks/SpecialistMantle.rsi/inhand-left.png
  Resources/Textures/_Lust/Clothing/Neck/Cloaks/SpecialistMantle.rsi/inhand-right.png
  Resources/Textures/_Lust/Clothing/Neck/Cloaks/SpecialistMantle.rsi/meta.json
  Resources/Textures/_Lust/Clothing/Shoes/Boots/SpecialistBoots.rsi/equipped-FEET.png
  Resources/Textures/_Lust/Clothing/Shoes/Boots/SpecialistBoots.rsi/icon.png
  Resources/Textures/_Lust/Clothing/Shoes/Boots/SpecialistBoots.rsi/inhand-left.png
  Resources/Textures/_Lust/Clothing/Shoes/Boots/SpecialistBoots.rsi/inhand-right.png
  Resources/Textures/_Lust/Clothing/Shoes/Boots/SpecialistBoots.rsi/meta.json
  Resources/Textures/_Lust/Clothing/Uniforms/Jumpsuit/SpecialistJumpSuit.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Lust/Clothing/Uniforms/Jumpsuit/SpecialistJumpSuit.rsi/icon.png
  Resources/Textures/_Lust/Clothing/Uniforms/Jumpsuit/SpecialistJumpSuit.rsi/inhand-left.png
  Resources/Textures/_Lust/Clothing/Uniforms/Jumpsuit/SpecialistJumpSuit.rsi/inhand-right.png
  Resources/Textures/_Lust/Clothing/Uniforms/Jumpsuit/SpecialistJumpSuit.rsi/meta.json
Labels: Статус: Несортированный, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация, Нет C#

#104 Дал плюшевой Анне Лисечанской злосчастный функционал
  Resources/Prototypes/_Lust/ERP/Interactions/toyInteractions.yml
Labels: Статус: Несортированный, Статус: Требует Рассмотрения, Нет C#, size/XS

#106 Фикс валидатора локале
  Resources/Locale/ru-RU/_strings/_lust/emotes/erp.ftl
  Resources/Prototypes/_Lust/ERP/Other/emotes.yml
  Tools/_sunrise/Schemas/ignore_list.yml
  Tools/_sunrise/Schemas/validate_yml.py
Labels: Статус: Несортированный, Статус: Требует Рассмотрения, Изменения: Локализация, Нет C#, size/M

#105 Мелочные исправления по горничной командования.
  Resources/Locale/ru-RU/_prototypes/_lust/entities/clothing/ears/headsets.ftl
  Resources/Locale/ru-RU/_prototypes/_lust/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/_prototypes/_lust/entities/objects/misc/identification_cards.ftl
  Resources/Prototypes/_Lust/Roles/Jobs/Command/commaid.yml
Labels: Статус: Требует Рассмотрения, Изменения: Локализация, Нет C#, size/S

#109 Добавлен набор пополнения кинкомата.
  Resources/Locale/ru-RU/_lust/prototypes/machine-vendings-restock.ftl
  Resources/Prototypes/_Lust/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/_Lust/Catalog/Fills/Crates/vending.yml
  Resources/Prototypes/_Lust/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Textures/Objects/Specific/Service/vending_machine_restock.rsi/meta.json
  Resources/Textures/Objects/Specific/Service/vending_machine_restock.rsi/refill_kink.png
Labels: Статус: Несортированный, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация, Нет C#

#108 Плюшки
  Resources/Locale/ru-RU/_prototypes/_lust/entities/objects/fun/toys.ftl
  Resources/Prototypes/_Lust/Catalog/sponsor_uplink_catalog.yml
  Resources/Prototypes/_Lust/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/plushie-alice-simonova.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/plushie-rx.png
Labels: Статус: Несортированный, Изменения: Спрайты, Изменения: Локализация, Нет C#, size/M

#107 Борги
  Content.Client/Silicons/Borgs/BorgSwitchableTypeSystem.cs
  Content.Client/Silicons/Borgs/BorgSystem.cs
  Content.Client/_Lust/Rest/RestSystem.cs
  Content.Shared/Silicons/Borgs/BorgTypePrototype.cs
  Content.Shared/Silicons/Borgs/Components/BorgChassisComponent.cs
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_Lust/Actions/rest.yml
  Resources/Prototypes/_Lust/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/borg_types.yml
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/clown.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/clown_e.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/clown_e_r.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/clown_l.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/clown_rest.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/clown_tipped.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/clown_wreck.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/engineer_e.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/engineer_e_r.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/engineer_l.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/meta.json
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/peace.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/peace_e.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/peace_e_r.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/peace_l.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/peace_rest.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/peace_tipped.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/peace_wreck.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/robot.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/robot_e.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/robot_e_r.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/robot_l.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/robot_rest.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/robot_tipped.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/sec.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/sec_e.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/sec_e_r.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/sec_l.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/sec_mk2.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/sec_mk2_e.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/sec_mk2_e_r.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/sec_mk2_l.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/sec_mk2_rest.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/sec_mk2_tipped.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/sec_mk2_wreck.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/sec_rest.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/sec_tipped.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis.rsi/sec_wreck.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis_icons.rsi/clown_tipped_icon.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis_icons.rsi/meta.json
  Resources/Textures/_Lust/Mobs/Silicon/chassis_icons.rsi/peace_tipped_icon.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis_icons.rsi/robot_tipped_icon.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis_icons.rsi/sec_mk2_tipped_icon.png
  Resources/Textures/_Lust/Mobs/Silicon/chassis_icons.rsi/sec_tipped_icon.png
Labels: Статус: Несортированный, Статус: Требует Рассмотрения, size/L, Изменения: Спрайты

#113 Фикс ERP Аркан
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/demon.yml
Labels: Статус: Несортированный, Статус: Требует Рассмотрения, Нет C#, size/XS

#111 Демонические рожки в LustShop
  Resources/Locale/ru-RU/_lust/prototypes/head.ftl
  Resources/Prototypes/_Lust/Catalog/sponsor_uplink_catalog.yml
  Resources/Prototypes/_Lust/Entities/Clothing/Head/demonhorns.yml
  Resources/Textures/_Lust/Clothing/Head/demon_horns.rsi/equipped-HELMET.png
  Resources/Textures/_Lust/Clothing/Head/demon_horns.rsi/icon.png
  Resources/Textures/_Lust/Clothing/Head/demon_horns.rsi/meta.json
Labels: Статус: Несортированный, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация, Нет C#

#114 Фикс TTS боргов
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Cyborgs/borg_chassis.yml
Labels: Статус: Несортированный, Статус: Требует Рассмотрения, Нет C#, size/XS

#115 Фиксы боргов
  Content.Client/Silicons/Borgs/BorgSystem.cs
  Content.Shared/Silicons/Borgs/BorgTypePrototype.cs
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/borg_types.yml
Labels: Статус: Несортированный, Статус: Требует Рассмотрения, size/M

#118 Добавление мантии шахтёра
  Resources/Locale/ru-RU/_lust/prototypes/cloaks.ftl
  Resources/Prototypes/_Lust/Entities/Clothing/Back/Satchel/SpecialistSatchel.yml
  Resources/Prototypes/_Lust/Entities/Clothing/Head/Hat/SpecialistBeret.yml
  Resources/Prototypes/_Lust/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_Lust/Entities/Clothing/Shoes/Boots/SpecialistBoots.yml
  Resources/Prototypes/_Lust/Entities/Clothing/Uniforms/Jumpsuit/SpecialistJumpsuit.yml
  Resources/Textures/_Lust/Clothing/Neck/Cloaks/Miner.rsi/equipped-NECK.png
  Resources/Textures/_Lust/Clothing/Neck/Cloaks/Miner.rsi/icon.png
  Resources/Textures/_Lust/Clothing/Neck/Cloaks/Miner.rsi/inhand-left.png
  Resources/Textures/_Lust/Clothing/Neck/Cloaks/Miner.rsi/inhand-right.png
  Resources/Textures/_Lust/Clothing/Neck/Cloaks/Miner.rsi/meta.json
Labels: Статус: Несортированный, Изменения: Спрайты, Изменения: Локализация, Нет C#, size/M

#117 Иконка стона
  Resources/Prototypes/_Lust/ERP/Other/emotes.yml
  Resources/Textures/_Lust/Interface/Emotes/moan.png
Labels: Статус: Требует Рассмотрения, Нет C#, size/XS

#116 История продолжается
  Content.Client/Silicons/Borgs/BorgSystem.cs
Labels: Статус: Несортированный, Статус: Требует Рассмотрения, size/XS

#120 Биг ЕРП апдейт, часть 1
  Resources/Audio/_Lust/ERP/chock/neckchock_1.ogg
  Resources/Audio/_Lust/ERP/chock/neckchock_2.ogg
  Resources/Audio/_Lust/ERP/clap/five1.ogg
  Resources/Audio/_Lust/ERP/clap/five2.ogg
  Resources/Audio/_Lust/ERP/clap/five3.ogg
  Resources/Audio/_Lust/ERP/clap/sev_clap.ogg
  Resources/Audio/_Lust/ERP/coolpose/coolpose.ogg
  Resources/Audio/_Lust/ERP/fingerlick/fingerlick.ogg
  Resources/Audio/_Lust/ERP/handshake/handshake.ogg
  Resources/Audio/_Lust/ERP/skratch/skratch_1.ogg
  Resources/Audio/_Lust/ERP/slap/slap_7.ogg
  Resources/Audio/_Lust/ERP/sniff/sniff_1.ogg
  Resources/Audio/_Lust/ERP/sniff/sniff_2.ogg
  Resources/Audio/_Lust/ERP/sniff/sniff_3.ogg
  Resources/Audio/_Lust/ERP/stroke/stroke_1.ogg
  Resources/Audio/_Lust/ERP/whip/whip_1.ogg
  Resources/Audio/_Lust/ERP/whip/whip_2.ogg
  Resources/Audio/_Lust/ERP/whip/whip_3.ogg
  Resources/Audio/_Lust/ERP/похлопать-по-плечу.ogg
  Resources/Locale/ru-RU/_lust/prototypes/jumpsuits.ftl
  Resources/Prototypes/_Lust/Catalog/VendingMachines/Inventories/kinkmate.yml
  Resources/Prototypes/_Lust/ERP/Interactions/anal_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/balls_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/boobs_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/butt_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/cheeks_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/cock_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/ears_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/face_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/feet_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/friendly_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/lips_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/mouth_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/neck_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/pussy_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/tail_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/thighs_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/toyInteractions.yml
  Resources/Prototypes/_Lust/Entities/Clothing/Uniforms/Jumpsuit/jumpsuit.yml
  Resources/Textures/_Lust/ERP/Stuff/loona.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Lust/ERP/Stuff/loona.rsi/icon.png
  Resources/Textures/_Lust/ERP/Stuff/loona.rsi/inhand-left.png
  Resources/Textures/_Lust/ERP/Stuff/loona.rsi/inhand-right.png
  Resources/Textures/_Lust/ERP/Stuff/loona.rsi/meta.json
  Resources/Textures/_Lust/Interface/ERP/ERP1.png
  Resources/Textures/_Lust/Interface/ERP/ERP2.png
  Resources/Textures/_Lust/Interface/ERP/ERP3.png
  Resources/Textures/_Lust/Interface/ERP/ERP4.png
Labels: Статус: Несортированный, Статус: Требует Рассмотрения, size/L, Изменения: Спрайты, Изменения: Локализация, Нет C#, Изменения: Аудио

#125 Биг ЕРП апдейт 2
  Content.Server/DeviceLinking/Systems/Lust/LinkVibratingToySystem.cs
  Content.Server/Speech/EntitySystems/StutteringSystem.cs
  Content.Server/_Lust/Toys/Components/VibratingComponent.cs
  Content.Server/_Lust/Toys/Systems/VibratingSystem.cs
  Content.Server/_Lust/Toys/Systems/VibratingToySystem.cs
  Content.Shared/_Lust/Toys/Components/VibratingToyComponent.cs
  Content.Shared/_Lust/Toys/Systems/SharedToySystem.cs
  Resources/Audio/_Lust/Ambience/ERP/vibration.ogg
  Resources/Locale/ru-RU/_prototypes/_lust/catalog/fills/boxes/general.ftl
  Resources/Locale/ru-RU/_prototypes/_lust/entities/clothing/neck/collar.ftl
  Resources/Locale/ru-RU/_prototypes/_lust/entities/erp/toys/toys.ftl
  Resources/Locale/ru-RU/_strings/_lust/toys/vibrating-toy.ftl
  Resources/Prototypes/_Lust/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/_Lust/Catalog/VendingMachines/Inventories/kinkmate.yml
  Resources/Prototypes/_Lust/ERP/Interactions/friendly_interactions.yml
  Resources/Prototypes/_Lust/Entities/Clothing/Neck/collar.yml
  Resources/Prototypes/_Lust/Entities/ERP/Toys/toys.yml
  Resources/Textures/_Lust/ERP/Toys/beads.rsi/icon.png
  Resources/Textures/_Lust/ERP/Toys/beads.rsi/meta.json
  Resources/Textures/_Lust/ERP/Toys/neck_accessories/collar1.rsi/equipped-NECK.png
  Resources/Textures/_Lust/ERP/Toys/neck_accessories/collar1.rsi/icon.png
  Resources/Textures/_Lust/ERP/Toys/neck_accessories/collar1.rsi/meta.json
  Resources/Textures/_Lust/ERP/Toys/neck_accessories/collar2.rsi/equipped-NECK.png
  Resources/Textures/_Lust/ERP/Toys/neck_accessories/collar2.rsi/icon.png
  Resources/Textures/_Lust/ERP/Toys/neck_accessories/collar2.rsi/meta.json
  Resources/Textures/_Lust/ERP/Toys/neck_accessories/collar3.rsi/equipped-NECK.png
  Resources/Textures/_Lust/ERP/Toys/neck_accessories/collar3.rsi/icon.png
  Resources/Textures/_Lust/ERP/Toys/neck_accessories/collar3.rsi/meta.json
  Resources/Textures/_Lust/ERP/Toys/neck_accessories/collar4.rsi/equipped-NECK.png
  Resources/Textures/_Lust/ERP/Toys/neck_accessories/collar4.rsi/icon.png
  Resources/Textures/_Lust/ERP/Toys/neck_accessories/collar4.rsi/meta.json
  Resources/Textures/_Lust/ERP/Toys/neck_accessories/ribbon.rsi/equipped-NECK.png
  Resources/Textures/_Lust/ERP/Toys/neck_accessories/ribbon.rsi/icon.png
  Resources/Textures/_Lust/ERP/Toys/neck_accessories/ribbon.rsi/meta.json
  Resources/Textures/_Lust/ERP/Toys/neck_accessories/shock_collar.rsi/equipped-NECK.png
  Resources/Textures/_Lust/ERP/Toys/neck_accessories/shock_collar.rsi/icon.png
  Resources/Textures/_Lust/ERP/Toys/neck_accessories/shock_collar.rsi/meta.json
  Resources/Textures/_Lust/ERP/Toys/neck_accessories/spike_collar.rsi/equipped-NECK.png
  Resources/Textures/_Lust/ERP/Toys/neck_accessories/spike_collar.rsi/icon.png
  Resources/Textures/_Lust/ERP/Toys/neck_accessories/spike_collar.rsi/meta.json
  Resources/Textures/_Lust/ERP/Toys/plug.rsi/icon1.png
  Resources/Textures/_Lust/ERP/Toys/plug.rsi/icon2.png
  Resources/Textures/_Lust/ERP/Toys/plug.rsi/icon3.png
  Resources/Textures/_Lust/ERP/Toys/plug.rsi/meta.json
  Resources/Textures/_Lust/ERP/Toys/plug.rsi/plug_box.png
  Resources/Textures/_Lust/ERP/Toys/strap_on.rsi/equipped-BELT.png
  Resources/Textures/_Lust/ERP/Toys/strap_on.rsi/icon.png
  Resources/Textures/_Lust/ERP/Toys/strap_on.rsi/meta.json
  Resources/Textures/_Lust/ERP/Toys/vibro_egg.rsi/equipped-PLUG.png
  Resources/Textures/_Lust/ERP/Toys/vibro_egg.rsi/icon.png
  Resources/Textures/_Lust/ERP/Toys/vibro_egg.rsi/meta.json
  Resources/Textures/_Lust/ERP/Toys/vibro_stick.rsi/icon.png
  Resources/Textures/_Lust/ERP/Toys/vibro_stick.rsi/inhand-left.png
  Resources/Textures/_Lust/ERP/Toys/vibro_stick.rsi/inhand-right.png
  Resources/Textures/_Lust/ERP/Toys/vibro_stick.rsi/meta.json
  Resources/Textures/_Lust/ERP/Toys/whip.rsi/icon.png
  Resources/Textures/_Lust/ERP/Toys/whip.rsi/inhand-left.png
  Resources/Textures/_Lust/ERP/Toys/whip.rsi/inhand-right.png
  Resources/Textures/_Lust/ERP/Toys/whip.rsi/meta.json
Labels: Статус: Несортированный, size/L, Изменения: Спрайты, Изменения: Локализация, Изменения: Аудио

#131 Китай сделать плюшевые игрушка. Часть 1.
  Resources/Locale/ru-RU/_prototypes/_lust/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/_strings/_lust/datasets/borman-serkiroboy.ftl
  Resources/Locale/ru-RU/_strings/_lust/datasets/dragonaft.ftl
  Resources/Locale/ru-RU/_strings/_lust/datasets/igor-volkov.ftl
  Resources/Locale/ru-RU/_strings/_lust/datasets/klara-isaeva.ftl
  Resources/Locale/ru-RU/_strings/_lust/datasets/mike-schmidt.ftl
  Resources/Prototypes/_Lust/Catalog/sponsor_uplink_catalog.yml
  Resources/Prototypes/_Lust/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/alisa_saygak.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/alisa_simonova_de_mori.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/bloba_blabo.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/borman_sekiroboy.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/cosmic_star_dust.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/dragonaft.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/igor_volkov.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/klara_isaeva.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/kuromi_olink.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/mike_schmidt.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/ratmir_saphirov.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/sai_haks1.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/sai_haks2.png
Labels: Статус: Несортированный, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация, Нет C#, size/M
