Repository space-sunrise/lust-station, pull requests merged in 2025-07, with the labels that each got.

#286 Новые рога для аркан
  Resources/Locale/ru-RU/_lust/_strings/_lust/markings/demon.ftl
  Resources/Prototypes/_Lust/Entities/Customization/Markings/demon.yml
  Resources/Textures/_Lust/Mobs/Species/Demon/markings.rsi/bull.png
  Resources/Textures/_Lust/Mobs/Species/Demon/markings.rsi/curved.png
  Resources/Textures/_Lust/Mobs/Species/Demon/markings.rsi/meta.json
  Resources/Textures/_Lust/Mobs/Species/Demon/markings.rsi/sheep.png
  Resources/Textures/_Lust/Mobs/Species/Demon/markings.rsi/twisted.png
Labels: Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация, Нет C#, size/S, Несортированный

#289 Убрал спонсорку с кастомизации некоторых предметов
  Resources/Prototypes/Entities/Mobs/Customization/Markings/cyberlibs.yml
  Resources/Prototypes/_Sunrise/Loadouts/Miscellaneous/bra.yml
  Resources/Prototypes/_Sunrise/Loadouts/Miscellaneous/pants.yml
  Resources/Prototypes/_Sunrise/Loadouts/Miscellaneous/socks.yml
Labels: Статус: Требует Рассмотрения, Нет C#, size/M, Несортированный

#297 Гарнитура Объединённого Правительства Земли
  Resources/Locale/en-US/_prototypes/_lust/entities/clothing/ears/headsets.ftl
  Resources/Locale/en-US/_prototypes/_lust/entities/objects/devices/encryption_keys.ftl
  Resources/Locale/en-US/_strings/_lust/headset/headset-component.ftl
  Resources/Locale/ru-RU/_prototypes/_lust/entities/clothing/ears/headsets.ftl
  Resources/Locale/ru-RU/_prototypes/_lust/entities/objects/devices/encryption_keys.ftl
  Resources/Locale/ru-RU/_strings/_lust/headset/headset-component.ftl
  Resources/Prototypes/_Lust/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/_Lust/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/_Lust/radio_channels.yml
Labels: Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация, Нет C#, size/S, Несортированный

#303 Перенес ЕРП статусу в шейред
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Server/_Lust/ErpStatus/ErpStatusComponent.cs
  Content.Shared/_Lust/ErpStatus/ErpStatusComponent.cs
  Content.Shared/_Lust/ErpStatus/ErpStatusSystem.cs
Labels: Статус: Требует Рассмотрения, Нет C#, size/S, Несортированный

#315 Fix linter
  Resources/Prototypes/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/_Lust/Actions/rest.yml
  Resources/Prototypes/_Lust/Arrows/Arrows.yml
  Resources/Prototypes/_Lust/Arrows/Arrows_implants.yml
  Resources/Prototypes/_Lust/Entities/ERP/Toys/toys.yml
  Resources/Prototypes/_Lust/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/_Lust/Interactions/balls.yml
  Resources/Prototypes/_Lust/Interactions/boobs.yml
  Resources/Prototypes/_Lust/Interactions/ears.yml
  Resources/Prototypes/_Lust/Interactions/face.yml
  Resources/Prototypes/_Lust/Interactions/feet.yml
  Resources/Prototypes/_Lust/Interactions/horn.yml
  Resources/Prototypes/_Lust/Interactions/lips.yml
  Resources/Prototypes/_Sunrise/Loadouts/loadout_groups.yml
Labels: Статус: Требует Рассмотрения, size/L, Нет C#, Несортированный

#320 Тот самый Драсус Левериан
  Resources/Audio/_Lust/Misc/epsilon_cut.ogg
  Resources/Locale/en-US/_prototypes/_lust/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/_prototypes/_lust/entities/objects/fun/toys.ftl
  Resources/Prototypes/_Lust/Catalog/sponsor_uplink_catalog.yml
  Resources/Prototypes/_Lust/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Lust/Objects/Fun/Plushies/drasus_leverian.rsi/equipped-NECK.png
  Resources/Textures/_Lust/Objects/Fun/Plushies/drasus_leverian.rsi/icon.png
  Resources/Textures/_Lust/Objects/Fun/Plushies/drasus_leverian.rsi/inhand-left.png
  Resources/Textures/_Lust/Objects/Fun/Plushies/drasus_leverian.rsi/inhand-right.png
  Resources/Textures/_Lust/Objects/Fun/Plushies/drasus_leverian.rsi/meta.json
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/meta.json
Labels: Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация, Нет C#, size/S, Изменения: Аудио, Несортированный
