Repository space-sunrise/lust-station, pull requests merged in 2025-03, with the labels that each got.

#172 PLLLLLLS GOD FIX YOURSELF!!!!
  Content.Client/_Sunrise/ERP/InteractionEui.cs
  Content.Client/_Sunrise/ERP/InteractionWindow.xaml.cs
  Content.Server/_Sunrise/ERP/Systems/InteractionEui.cs
  Content.Server/_Sunrise/ERP/Systems/InteractionSystem.cs
Labels: Статус: Несортированный, Статус: Требует Рассмотрения, size/M, Изменения: Интерфейс

#184 [TWEAK] Обновленная текстура КПК горничной
  Resources/Textures/_Lust/Objects/Devices/pda.rsi/pda-commaid.png
Labels: Статус: Несортированный, Статус: Требует Рассмотрения, Изменения: Спрайты, Нет C#, size/XS

#188 Пару новых NonERP взаимоодействий
  Resources/Prototypes/_Lust/ERP/Interactions/friendly_interactions.yml
Labels: Статус: Несортированный, Статус: Требует Рассмотрения, Нет C#, size/S

#193 Печать "Qillu" на конвертах
  Resources/Prototypes/_Lust/Entities/Objects/Misc/paper.yml
  Resources/Textures/_Lust/Objects/Misc/Paper/paper_heading_postage_stamp.svg
  Resources/Textures/_Lust/Objects/Misc/Paper/paper_heading_postage_stamp.svg.96dpi.png
  Resources/Textures/_Lust/Objects/Misc/Paper/paper_heading_postage_stamp.svg.96dpi.png.yml
Labels: Статус: Несортированный, Статус: Требует Рассмотрения, Нет C#, size/M

#191 Заменена KIllSign на FuckSign
  Content.Client/Administration/Systems/KillSignSystem.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Resources/Locale/ru-RU/_strings/_lust/fucksign/fucksign.ftl
  Resources/Textures/_Lust/Objects/Misc/fucksign.rsi/icon.png
  Resources/Textures/_Lust/Objects/Misc/fucksign.rsi/meta.json
  Resources/Textures/_Lust/Objects/Misc/fucksign.rsi/sign.png
Labels: Изменения: Спрайты, Изменения: Локализация

#194 Медицинские халаты с кошачьими ушками
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
  Resources/Prototypes/_Lust/Entities/Clothing/Head/Hoods/nekolabcoathoods.yml
  Resources/Prototypes/_Lust/Entities/Clothing/OuterClothing/neko_halati.yml
  Resources/Textures/_Lust/Clothing/Head/Hoods/catHood.rsi/equipped-HELMET.png
  Resources/Textures/_Lust/Clothing/Head/Hoods/catHood.rsi/icon.png
  Resources/Textures/_Lust/Clothing/Head/Hoods/catHood.rsi/inhand-left.png
  Resources/Textures/_Lust/Clothing/Head/Hoods/catHood.rsi/inhand-right.png
  Resources/Textures/_Lust/Clothing/Head/Hoods/catHood.rsi/meta.json
  Resources/Textures/_Lust/Clothing/Head/Hoods/catHoodBlue.rsi/equipped-HELMET.png
  Resources/Textures/_Lust/Clothing/Head/Hoods/catHoodBlue.rsi/icon.png
  Resources/Textures/_Lust/Clothing/Head/Hoods/catHoodBlue.rsi/inhand-left.png
  Resources/Textures/_Lust/Clothing/Head/Hoods/catHoodBlue.rsi/inhand-right.png
  Resources/Textures/_Lust/Clothing/Head/Hoods/catHoodBlue.rsi/meta.json
  Resources/Textures/_Lust/Clothing/Head/Hoods/catHoodGreen.rsi/equipped-HELMET.png
  Resources/Textures/_Lust/Clothing/Head/Hoods/catHoodGreen.rsi/icon.png
  Resources/Textures/_Lust/Clothing/Head/Hoods/catHoodGreen.rsi/inhand-left.png
  Resources/Textures/_Lust/Clothing/Head/Hoods/catHoodGreen.rsi/inhand-right.png
  Resources/Textures/_Lust/Clothing/Head/Hoods/catHoodGreen.rsi/meta.json
  Resources/Textures/_Lust/Clothing/Head/Hoods/catHoodPurple.rsi/equipped-HELMET.png
  Resources/Textures/_Lust/Clothing/Head/Hoods/catHoodPurple.rsi/icon.png
  Resources/Textures/_Lust/Clothing/Head/Hoods/catHoodPurple.rsi/inhand-left.png
  Resources/Textures/_Lust/Clothing/Head/Hoods/catHoodPurple.rsi/inhand-right.png
  Resources/Textures/_Lust/Clothing/Head/Hoods/catHoodPurple.rsi/meta.json
  Resources/Textures/_Lust/Clothing/OuterClothing/Misc/labCoatCat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Lust/Clothing/OuterClothing/Misc/labCoatCat.rsi/icon-open.png
  Resources/Textures/_Lust/Clothing/OuterClothing/Misc/labCoatCat.rsi/icon.png
  Resources/Textures/_Lust/Clothing/OuterClothing/Misc/labCoatCat.rsi/inhand-left.png
  Resources/Textures/_Lust/Clothing/OuterClothing/Misc/labCoatCat.rsi/inhand-right.png
  Resources/Textures/_Lust/Clothing/OuterClothing/Misc/labCoatCat.rsi/meta.json
  Resources/Textures/_Lust/Clothing/OuterClothing/Misc/labCoatCat.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/_Lust/Clothing/OuterClothing/Misc/labCoatCat.rsi/open-inhand-left.png
  Resources/Textures/_Lust/Clothing/OuterClothing/Misc/labCoatCat.rsi/open-inhand-right.png
  Resources/Textures/_Lust/Clothing/OuterClothing/Misc/labCoatCatBlue.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Lust/Clothing/OuterClothing/Misc/labCoatCatBlue.rsi/icon-open.png
  Resources/Textures/_Lust/Clothing/OuterClothing/Misc/labCoatCatBlue.rsi/icon.png
  Resources/Textures/_Lust/Clothing/OuterClothing/Misc/labCoatCatBlue.rsi/inhand-left.png
  Resources/Textures/_Lust/Clothing/OuterClothing/Misc/labCoatCatBlue.rsi/inhand-right.png
  Resources/Textures/_Lust/Clothing/OuterClothing/Misc/labCoatCatBlue.rsi/meta.json
  Resources/Textures/_Lust/Clothing/OuterClothing/Misc/labCoatCatBlue.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/_Lust/Clothing/OuterClothing/Misc/labCoatCatBlue.rsi/open-inhand-left.png
  Resources/Textures/_Lust/Clothing/OuterClothing/Misc/labCoatCatBlue.rsi/open-inhand-right.png
  Resources/Textures/_Lust/Clothing/OuterClothing/Misc/labCoatCatGreen.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Lust/Clothing/OuterClothing/Misc/labCoatCatGreen.rsi/icon-open.png
  Resources/Textures/_Lust/Clothing/OuterClothing/Misc/labCoatCatGreen.rsi/icon.png
  Resources/Textures/_Lust/Clothing/OuterClothing/Misc/labCoatCatGreen.rsi/inhand-left.png
  Resources/Textures/_Lust/Clothing/OuterClothing/Misc/labCoatCatGreen.rsi/inhand-right.png
  Resources/Textures/_Lust/Clothing/OuterClothing/Misc/labCoatCatGreen.rsi/meta.json
  Resources/Textures/_Lust/Clothing/OuterClothing/Misc/labCoatCatGreen.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/_Lust/Clothing/OuterClothing/Misc/labCoatCatGreen.rsi/open-inhand-left.png
  Resources/Textures/_Lust/Clothing/OuterClothing/Misc/labCoatCatGreen.rsi/open-inhand-right.png
  Resources/Textures/_Lust/Clothing/OuterClothing/Misc/labCoatCatPurple.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Lust/Clothing/OuterClothing/Misc/labCoatCatPurple.rsi/icon-open.png
  Resources/Textures/_Lust/Clothing/OuterClothing/Misc/labCoatCatPurple.rsi/icon.png
  Resources/Textures/_Lust/Clothing/OuterClothing/Misc/labCoatCatPurple.rsi/inhand-left.png
  Resources/Textures/_Lust/Clothing/OuterClothing/Misc/labCoatCatPurple.rsi/inhand-right.png
  Resources/Textures/_Lust/Clothing/OuterClothing/Misc/labCoatCatPurple.rsi/meta.json
  Resources/Textures/_Lust/Clothing/OuterClothing/Misc/labCoatCatPurple.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/_Lust/Clothing/OuterClothing/Misc/labCoatCatPurple.rsi/open-inhand-left.png
  Resources/Textures/_Lust/Clothing/OuterClothing/Misc/labCoatCatPurple.rsi/open-inhand-right.png
Labels: Статус: Несортированный, Статус: Требует Рассмотрения, Изменения: Спрайты, Нет C#, size/M

#198 Пивной костюм и футболка пивозавр
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/_Lust/Entities/Clothing/Uniforms/beersuit.yml
  Resources/Textures/_Lust/Clothing/Uniforms/beer_suit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Lust/Clothing/Uniforms/beer_suit.rsi/icon.png
  Resources/Textures/_Lust/Clothing/Uniforms/beer_suit.rsi/meta.json
  Resources/Textures/_Lust/Clothing/Uniforms/pivozavrtshirt.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Lust/Clothing/Uniforms/pivozavrtshirt.rsi/icon.png
  Resources/Textures/_Lust/Clothing/Uniforms/pivozavrtshirt.rsi/meta.json
Labels: Статус: Несортированный, Статус: Требует Рассмотрения, Изменения: Спрайты, Нет C#, size/S
