Repository space-sunrise/lust-station, pull requests merged in 2025-06, with the labels that each got.

#257 Перемещение криво поставленного rsi
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Lust/Objects/Fun/balloon.rsi/meta.json
  Resources/Textures/_Lust/Objects/Fun/balloon.rsi/ntb-inhand-left.png
  Resources/Textures/_Lust/Objects/Fun/balloon.rsi/ntb-inhand-right.png
  Resources/Textures/_Lust/Objects/Fun/balloon.rsi/ntb.png
Labels: Изменения: Спрайты, Нет C#, size/XS, Несортированный

#258 Плюшка Священ-Люна
  Resources/Locale/en-US/_prototypes/_lust/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/_prototypes/_lust/entities/objects/fun/toys.ftl
  Resources/Prototypes/_Lust/Catalog/sponsor_uplink_catalog.yml
  Resources/Prototypes/_Lust/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/luna.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/meta.json
Labels: Изменения: Спрайты, Изменения: Локализация, Нет C#, size/S, Несортированный

#260 Замена текстуры плюшки Максима Дедова
  Resources/Audio/_Lust/half-life_crowbar.ogg
  Resources/Prototypes/_Lust/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/ded_plushie.png
Labels: Изменения: Спрайты, Нет C#, Изменения: Аудио, Несортированный

#261 Респрайт кастета Квартирмейстера.
  Resources/Textures/Clothing/Hands/Gloves/KnuckleDusters/goldenknuckleduster.rsi/goldenknuckleduster.png
Labels: Изменения: Спрайты, Нет C#, size/XS, Несортированный

#264 Чокер с колокольчиком
  Content.Server/_Sunrise/ERP/Systems/InteractionSystem.cs
  Content.Shared/_Lust/Clothing/EmitSoundOnErpComponent.cs
  Content.Shared/_Lust/Clothing/EmitSoundOnErpSystem.cs
  Content.Shared/_Sunrise/ERP/ClothingErpOccuredEvent.cs
  Resources/Locale/en-US/_prototypes/_lust/entities/clothing/neck/collar.ftl
  Resources/Locale/ru-RU/_prototypes/_lust/entities/clothing/neck/collar.ftl
  Resources/Locale/ru-RU/_prototypes/_lust/entities/objects/fun/toys.ftl
  Resources/Prototypes/_Lust/Catalog/VendingMachines/Inventories/kinkmate.yml
  Resources/Prototypes/_Lust/Entities/Clothing/Neck/collar.yml
  Resources/Textures/_Lust/ERP/Toys/neck_accessories/collar5.rsi/equipped-NECK.png
  Resources/Textures/_Lust/ERP/Toys/neck_accessories/collar5.rsi/icon.png
  Resources/Textures/_Lust/ERP/Toys/neck_accessories/collar5.rsi/meta.json
  Resources/Textures/_Lust/ERP/Toys/neck_accessories/collar6.rsi/equipped-NECK.png
  Resources/Textures/_Lust/ERP/Toys/neck_accessories/collar6.rsi/icon.png
  Resources/Textures/_Lust/ERP/Toys/neck_accessories/collar6.rsi/meta.json
  Resources/Textures/_Lust/ERP/Toys/neck_accessories/collar7.rsi/equipped-NECK.png
  Resources/Textures/_Lust/ERP/Toys/neck_accessories/collar7.rsi/icon.png
  Resources/Textures/_Lust/ERP/Toys/neck_accessories/collar7.rsi/meta.json
Labels: Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация, size/M, Несортированный

#268 Виски Эхо Qillu
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/bar_sign.yml
  Resources/Prototypes/bar_signs.yml
  Resources/Textures/_Lust/Structures/Wallmounts/barsign.rsi/meta.json
  Resources/Textures/_Lust/Structures/Wallmounts/barsign.rsi/whiskeyechoes.png
  Resources/Textures/_Lust/Structures/Wallmounts/barsigns.rsi/birdcage.png
  Resources/Textures/_Lust/Structures/Wallmounts/barsigns.rsi/combocafe.png
  Resources/Textures/_Lust/Structures/Wallmounts/barsigns.rsi/emergencyrumparty.png
  Resources/Textures/_Lust/Structures/Wallmounts/barsigns.rsi/empbarsign.png
  Resources/Textures/_Lust/Structures/Wallmounts/barsigns.rsi/emprah.png
  Resources/Textures/_Lust/Structures/Wallmounts/barsigns.rsi/empty.png
  Resources/Textures/_Lust/Structures/Wallmounts/barsigns.rsi/enginechange.png
  Resources/Textures/_Lust/Structures/Wallmounts/barsigns.rsi/goose.png
  Resources/Textures/_Lust/Structures/Wallmounts/barsigns.rsi/lv426.png
  Resources/Textures/_Lust/Structures/Wallmounts/barsigns.rsi/maidcafe.png
  Resources/Textures/_Lust/Structures/Wallmounts/barsigns.rsi/maltesefalcon.png
  Resources/Textures/_Lust/Structures/Wallmounts/barsigns.rsi/maltroach.png
  Resources/Textures/_Lust/Structures/Wallmounts/barsigns.rsi/meta.json
  Resources/Textures/_Lust/Structures/Wallmounts/barsigns.rsi/officerbeersky.png
  Resources/Textures/_Lust/Structures/Wallmounts/barsigns.rsi/robustacafe.png
  Resources/Textures/_Lust/Structures/Wallmounts/barsigns.rsi/spacebucks.png
  Resources/Textures/_Lust/Structures/Wallmounts/barsigns.rsi/the_lightbulb.png
  Resources/Textures/_Lust/Structures/Wallmounts/barsigns.rsi/thealenath.png
  Resources/Textures/_Lust/Structures/Wallmounts/barsigns.rsi/thecoderbus.png
  Resources/Textures/_Lust/Structures/Wallmounts/barsigns.rsi/thedrunkcarp.png
  Resources/Textures/_Lust/Structures/Wallmounts/barsigns.rsi/theharmbaton.png
  Resources/Textures/_Lust/Structures/Wallmounts/barsigns.rsi/thenet.png
  Resources/Textures/_Lust/Structures/Wallmounts/barsigns.rsi/theouterspess.png
  Resources/Textures/_Lust/Structures/Wallmounts/barsigns.rsi/thesingulo.png
  Resources/Textures/_Lust/Structures/Wallmounts/barsigns.rsi/thesun.png
  Resources/Textures/_Lust/Structures/Wallmounts/barsigns.rsi/thewiggleroom.png
  Resources/Textures/_Lust/Structures/Wallmounts/barsigns.rsi/whiskeyechoesqillu.png
  Resources/Textures/_Lust/Structures/Wallmounts/barsigns.rsi/zocalo.png
Labels: Статус: Требует Рассмотрения, Изменения: Спрайты, Нет C#, size/M, Несортированный

#271 Чокеры
  Resources/Locale/en-US/_prototypes/_lust/entities/clothing/neck/collar.ftl
  Resources/Locale/ru-RU/_prototypes/_lust/entities/clothing/neck/collar.ftl
  Resources/Prototypes/_Lust/Catalog/VendingMachines/Inventories/kinkmate.yml
  Resources/Prototypes/_Lust/Entities/Clothing/Neck/collar.yml
  Resources/Textures/_Lust/ERP/Toys/neck_accessories/collar_cross.rsi/equipped-NECK.png
  Resources/Textures/_Lust/ERP/Toys/neck_accessories/collar_cross.rsi/icon.png
  Resources/Textures/_Lust/ERP/Toys/neck_accessories/collar_cross.rsi/meta.json
  Resources/Textures/_Lust/ERP/Toys/neck_accessories/collar_star.rsi/equipped-NECK.png
  Resources/Textures/_Lust/ERP/Toys/neck_accessories/collar_star.rsi/icon.png
  Resources/Textures/_Lust/ERP/Toys/neck_accessories/collar_star.rsi/meta.json
Labels: Изменения: Спрайты, Изменения: Локализация, Нет C#, size/S

#272 Рефактор ошейников
  Resources/Prototypes/_Lust/Entities/Clothing/Neck/collar.yml
  Resources/Textures/_Lust/ERP/Toys/NeckAccessories/collar1.rsi/equipped-NECK.png
  Resources/Textures/_Lust/ERP/Toys/NeckAccessories/collar1.rsi/icon.png
  Resources/Textures/_Lust/ERP/Toys/NeckAccessories/collar1.rsi/meta.json
  Resources/Textures/_Lust/ERP/Toys/NeckAccessories/collar2.rsi/equipped-NECK.png
  Resources/Textures/_Lust/ERP/Toys/NeckAccessories/collar2.rsi/icon.png
  Resources/Textures/_Lust/ERP/Toys/NeckAccessories/collar2.rsi/meta.json
  Resources/Textures/_Lust/ERP/Toys/NeckAccessories/collar3.rsi/equipped-NECK.png
  Resources/Textures/_Lust/ERP/Toys/NeckAccessories/collar3.rsi/icon.png
  Resources/Textures/_Lust/ERP/Toys/NeckAccessories/collar3.rsi/meta.json
  Resources/Textures/_Lust/ERP/Toys/NeckAccessories/collar4.rsi/equipped-NECK.png
  Resources/Textures/_Lust/ERP/Toys/NeckAccessories/collar4.rsi/icon.png
  Resources/Textures/_Lust/ERP/Toys/NeckAccessories/collar4.rsi/meta.json
  Resources/Textures/_Lust/ERP/Toys/NeckAccessories/collar5.rsi/equipped-NECK.png
  Resources/Textures/_Lust/ERP/Toys/NeckAccessories/collar5.rsi/icon.png
  Resources/Textures/_Lust/ERP/Toys/NeckAccessories/collar5.rsi/meta.json
  Resources/Textures/_Lust/ERP/Toys/NeckAccessories/collar6.rsi/equipped-NECK.png
  Resources/Textures/_Lust/ERP/Toys/NeckAccessories/collar6.rsi/icon.png
  Resources/Textures/_Lust/ERP/Toys/NeckAccessories/collar6.rsi/meta.json
  Resources/Textures/_Lust/ERP/Toys/NeckAccessories/collar7.rsi/equipped-NECK.png
  Resources/Textures/_Lust/ERP/Toys/NeckAccessories/collar7.rsi/icon.png
  Resources/Textures/_Lust/ERP/Toys/NeckAccessories/collar7.rsi/meta.json
  Resources/Textures/_Lust/ERP/Toys/NeckAccessories/collar_cross.rsi/equipped-NECK.png
  Resources/Textures/_Lust/ERP/Toys/NeckAccessories/collar_cross.rsi/icon.png
  Resources/Textures/_Lust/ERP/Toys/NeckAccessories/collar_cross.rsi/meta.json
  Resources/Textures/_Lust/ERP/Toys/NeckAccessories/collar_star.rsi/equipped-NECK.png
  Resources/Textures/_Lust/ERP/Toys/NeckAccessories/collar_star.rsi/icon.png
  Resources/Textures/_Lust/ERP/Toys/NeckAccessories/collar_star.rsi/meta.json
  Resources/Textures/_Lust/ERP/Toys/NeckAccessories/ribbon.rsi/equipped-NECK.png
  Resources/Textures/_Lust/ERP/Toys/NeckAccessories/ribbon.rsi/icon.png
  Resources/Textures/_Lust/ERP/Toys/NeckAccessories/ribbon.rsi/meta.json
  Resources/Textures/_Lust/ERP/Toys/NeckAccessories/shock_collar.rsi/equipped-NECK.png
  Resources/Textures/_Lust/ERP/Toys/NeckAccessories/shock_collar.rsi/icon.png
  Resources/Textures/_Lust/ERP/Toys/NeckAccessories/shock_collar.rsi/meta.json
  Resources/Textures/_Lust/ERP/Toys/NeckAccessories/spike_collar.rsi/equipped-NECK.png
  Resources/Textures/_Lust/ERP/Toys/NeckAccessories/spike_collar.rsi/icon.png
  Resources/Textures/_Lust/ERP/Toys/NeckAccessories/spike_collar.rsi/meta.json
Labels: Изменения: Спрайты, Нет C#, size/M, Несортированный

#275 Фикс знака квилу
  Resources/migration.yml
Labels: Нет C#

#282 изменение объявы во время эпсилона с Nanotrasen на Qillu
  Resources/Locale/ru-RU/_strings/alert-levels/alert-levels.ftl
Labels: Изменения: Локализация, Нет C#
