Repository space-sunrise/lust-station, pull requests merged in 2025-04, with the labels that each got.

#202 Респрайт лого НТ на Киллу
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Textures/_Lust/Structures/Wallmounts/signs.rsi/meta.json
  Resources/Textures/_Lust/Structures/Wallmounts/signs.rsi/qillu_sign1.png
  Resources/Textures/_Lust/Structures/Wallmounts/signs.rsi/qillu_sign2.png
  Resources/Textures/_Lust/Structures/Wallmounts/signs.rsi/qillu_sign3.png
Labels: Статус: Несортированный, Статус: Требует Рассмотрения, Изменения: Спрайты, Нет C#, size/S

#203 Респрайт почты под Qillu
  Resources/Textures/Objects/Specific/Cargo/mail.rsi/locked.png
  Resources/Textures/Objects/Specific/Cargo/mail.rsi/postmark.png
  Resources/Textures/Objects/Specific/Cargo/mail_large.rsi/icon.png
  Resources/Textures/Objects/Specific/Cargo/mail_large.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Cargo/mail_large.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Cargo/mail_large.rsi/locked.png
  Resources/Textures/Objects/Specific/Cargo/mail_large.rsi/postmark.png
Labels: Статус: Несортированный, Статус: Требует Рассмотрения, Изменения: Спрайты, Нет C#, size/XS

#215 Обновление локалей
  Resources/Locale/en-US/_strings/chat/emotes.ftl
  Resources/Locale/ru-RU/_strings/chat/emotes.ftl
Labels: Статус: Требует Рассмотрения, Изменения: Локализация, Нет C#, size/XS, Несортированный

#221 Эротическая деловая форма
  Resources/Locale/ru-RU/_lust/prototypes/jumpsuits.ftl
  Resources/Prototypes/_Lust/Catalog/VendingMachines/Inventories/kinkmate.yml
  Resources/Prototypes/_Lust/Entities/Clothing/Uniforms/Jumpsuit/jumpsuit.yml
  Resources/Textures/_Lust/ERP/Stuff/eroform.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Lust/ERP/Stuff/eroform.rsi/icon.png
  Resources/Textures/_Lust/ERP/Stuff/eroform.rsi/inhand-left.png
  Resources/Textures/_Lust/ERP/Stuff/eroform.rsi/inhand-right.png
  Resources/Textures/_Lust/ERP/Stuff/eroform.rsi/meta.json
Labels: Изменения: Спрайты, Изменения: Локализация, Нет C#, size/S

#227 Алкоголичка
  Resources/Locale/ru-RU/_lust/prototypes/jumpsuits.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/_Lust/Entities/Clothing/Uniforms/Jumpsuit/alcoholichka.yml
  Resources/Textures/_Lust/Clothing/Uniforms/alcoholichka.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Lust/Clothing/Uniforms/alcoholichka.rsi/icon.png
  Resources/Textures/_Lust/Clothing/Uniforms/alcoholichka.rsi/meta.json
Labels: Изменения: Спрайты, Изменения: Локализация, Нет C#, size/S, Несортированный
