Repository space-sunrise/lust-station, pull requests merged in 2025-01, with the labels that each got.

#141 Новые плюшки
  Resources/Audio/_Lust/ERP/euphmoan1.ogg
  Resources/Audio/_Lust/ERP/euphmoan2.ogg
  Resources/Audio/_Lust/ERP/euphmoan3.ogg
  Resources/Audio/_Lust/ERP/euphtrig.ogg
  Resources/Audio/_Lust/bonk.ogg
  Resources/Audio/_Lust/huem_po_lbu.ogg
  Resources/Audio/_Lust/ooh_la_la.ogg
  Resources/Audio/_Lust/rendy_boom.ogg
  Resources/Locale/ru-RU/_prototypes/_lust/entities/objects/fun/toys.ftl
  Resources/Prototypes/_Lust/Catalog/sponsor_uplink_catalog.yml
  Resources/Prototypes/_Lust/ERP/Other/emotes.yml
  Resources/Prototypes/_Lust/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/alexandr_limenski.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/eupha_everek.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/plushie_rend.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/plushiechitas.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/shon_roz.png
Labels: Изменения: Спрайты, Изменения: Локализация, Нет C#, size/M, Изменения: Аудио

#140 Немного кастомизации
  Resources/Locale/ru-RU/_lust/markings/hair.ftl
  Resources/Locale/ru-RU/_lust/markings/vulpkanin.ftl
  Resources/Prototypes/_Lust/Entities/Customization/Markings/hair.yml
  Resources/Prototypes/_Lust/Entities/Customization/Markings/vulpkanin.yml
  Resources/Textures/_Lust/Customization/Markings/hair.rsi/meta.json
  Resources/Textures/_Lust/Customization/Markings/hair.rsi/moon.png
  Resources/Textures/_Lust/Customization/Markings/moon_markings.rsi/meta.json
  Resources/Textures/_Lust/Customization/Markings/moon_markings.rsi/points_moon-arms.png
  Resources/Textures/_Lust/Customization/Markings/moon_markings.rsi/points_moon-chest.png
  Resources/Textures/_Lust/Customization/Markings/moon_markings.rsi/points_moon-head.png
  Resources/Textures/_Lust/Customization/Markings/moon_markings.rsi/points_moon-legs.png
  Resources/Textures/_Lust/Customization/Markings/moon_tail.rsi/meta.json
  Resources/Textures/_Lust/Customization/Markings/moon_tail.rsi/tail_doubletone_wag_prime.png
  Resources/Textures/_Lust/Customization/Markings/moon_tail.rsi/tail_doubletone_wag_second.png
  Resources/Textures/_Lust/Customization/Markings/moon_tail_static.rsi/meta.json
  Resources/Textures/_Lust/Customization/Markings/moon_tail_static.rsi/tail_doubletone_prime.png
  Resources/Textures/_Lust/Customization/Markings/moon_tail_static.rsi/tail_doubletone_second.png
Labels: Статус: Несортированный, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация, Нет C#, size/M

#145 Доработка панели взаимодействия
  Content.Client/_Sunrise/ERP/InteractionEui.cs
  Content.Client/_Sunrise/ERP/InteractionWindow.xaml.cs
  Content.Server/_Sunrise/ERP/Systems/InteractionEui.cs
  Content.Server/_Sunrise/ERP/Systems/InteractionSystem.cs
Labels: Статус: Несортированный, Статус: Требует Рассмотрения, size/M, Изменения: Интерфейс

#148 Апдейт ERP панели + Новые звуки стонов
  Resources/Audio/_Lust/ERP/femston1.ogg
  Resources/Audio/_Lust/ERP/femston2.ogg
  Resources/Audio/_Lust/ERP/femston3.ogg
  Resources/Audio/_Lust/ERP/femston4.ogg
  Resources/Audio/_Lust/ERP/femston5.ogg
  Resources/Audio/_Lust/ERP/femston6.ogg
  Resources/Audio/_Lust/ERP/femston7.ogg
  Resources/Prototypes/_Lust/ERP/Interactions/anal_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/boobs_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/butt_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/cock_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/ears_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/face_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/friendly_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/horn_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/mouth_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/pussy_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/tail_interactions.yml
  Resources/Prototypes/_Lust/ERP/Other/emotes.yml
  Resources/Textures/_Lust/Interface/ERP/boobs_tail.png
  Resources/Textures/_Lust/Interface/ERP/butt_tail.png
  Resources/Textures/_Lust/Interface/ERP/butt_tail_fuck.png
  Resources/Textures/_Lust/Interface/ERP/cock_near_to_ass_tail.png
  Resources/Textures/_Lust/Interface/ERP/legs_cock_fuck_tail.png
  Resources/Textures/_Lust/Interface/ERP/pussy_tail_fuck.png
  Resources/Textures/_Lust/Interface/ERP/tail.png
  Resources/Textures/_Lust/Interface/ERP/tail_hug.png
Labels: Статус: Требует Рассмотрения, Нет C#, size/M, Изменения: Аудио

#150 фикс карманных кисок + обновление кинкомата
  Resources/Locale/ru-RU/_prototypes/_lust/entities/erp/toys/toys.ftl
  Resources/Prototypes/_Lust/Catalog/VendingMachines/Inventories/kinkmate.yml
  Resources/Prototypes/_Lust/ERP/Interactions/toyInteractions.yml
  Resources/Prototypes/_Lust/Entities/ERP/Toys/toys.yml
Labels: Статус: Несортированный, Статус: Требует Рассмотрения, Изменения: Локализация, Нет C#, size/S
