Repository space-sunrise/lust-station, pull requests merged in 2025-08, with the labels that each got.

#319 Англ локализация плюшек ласта
  Resources/Locale/en-US/_prototypes/_lust/entities/objects/fun/toys.ftl
Labels: Статус: Требует Рассмотрения, Изменения: Локализация, Нет C#, size/S, Несортированный

#324 Перевод одежды Lust Station
  Resources/Locale/ru-RU/_prototypes/_lust/entities/clothing/back/backpacks.ftl
  Resources/Locale/ru-RU/_prototypes/_lust/entities/clothing/back/duffel.ftl
  Resources/Locale/ru-RU/_prototypes/_lust/entities/clothing/back/satchel.ftl
  Resources/Locale/ru-RU/_prototypes/_lust/entities/clothing/hands/bunny.ftl
  Resources/Locale/ru-RU/_prototypes/_lust/entities/clothing/hands/gloves.ftl
  Resources/Locale/ru-RU/_prototypes/_lust/entities/clothing/head/hat/hats.ftl
  Resources/Locale/ru-RU/_prototypes/_lust/entities/clothing/head/hoods/nekolabcoathoods.ftl
  Resources/Locale/ru-RU/_prototypes/_lust/entities/clothing/neck/cloaks.ftl
  Resources/Locale/ru-RU/_prototypes/_lust/entities/clothing/outerclothing/armor.ftl
  Resources/Locale/ru-RU/_prototypes/_lust/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/_prototypes/_lust/entities/clothing/outerclothing/misc.ftl
  Resources/Locale/ru-RU/_prototypes/_lust/entities/clothing/outerclothing/neko_halati.ftl
  Resources/Locale/ru-RU/_prototypes/_lust/entities/clothing/outerclothing/winter_coats.ftl
  Resources/Locale/ru-RU/_prototypes/_lust/entities/clothing/shoes/boots.ftl
  Resources/Locale/ru-RU/_prototypes/_lust/entities/clothing/uniforms/beersuit.ftl
  Resources/Locale/ru-RU/_prototypes/_lust/entities/clothing/uniforms/jumpskirt/jumpskirt.ftl
  Resources/Locale/ru-RU/_prototypes/_lust/entities/clothing/uniforms/jumpsuit/jumpsuit.ftl
Labels: Статус: Требует Рассмотрения, Изменения: Локализация, Нет C#, size/M, Несортированный

#325 Стан меч сново играбельный
  Resources/Prototypes/_Lust/Entities/Objects/Weapons/Melee/stunsword.yml
Labels: Нет C#, size/XS

#326 фиксы футанари
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/demon.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/tajaran.yml
  Resources/Prototypes/_Sunrise/Species/demon.yml
  Resources/Prototypes/_Sunrise/Species/human.yml
Labels: Статус: Требует Рассмотрения, Нет C#, size/S, Несортированный

#332 Форма гсб
  Resources/Locale/en-US/_prototypes/_lust/entities/clothing/uniforms/jumpskirt/eleganthos.ftl
  Resources/Locale/ru-RU/_prototypes/_lust/entities/clothing/uniforms/jumpskirt/eleganthos.ftl
  Resources/Prototypes/Loadouts/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Lust/Entities/Clothing/Uniforms/Jumpskirt/jumpskirt.yml
  Resources/Prototypes/_Lust/Loadouts/Security/head_of_security.yml
  Resources/Textures/_Lust/Clothing/Uniforms/Jumpskirt/eleganthos.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Lust/Clothing/Uniforms/Jumpskirt/eleganthos.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Lust/Clothing/Uniforms/Jumpskirt/eleganthos.rsi/icon.png
  Resources/Textures/_Lust/Clothing/Uniforms/Jumpskirt/eleganthos.rsi/inhand-left.png
  Resources/Textures/_Lust/Clothing/Uniforms/Jumpskirt/eleganthos.rsi/inhand-right.png
  Resources/Textures/_Lust/Clothing/Uniforms/Jumpskirt/eleganthos.rsi/meta.json
Labels: Изменения: Спрайты, Изменения: Локализация, Нет C#, size/S, Несортированный

#333 new haircuts
  Resources/Locale/en-US/_strings/_lust/accessories/human-hair.ftl
  Resources/Locale/ru-RU/_strings/_lust/accessories/human-hair.ftl
  Resources/Prototypes/_Lust/Entities/Customization/Markings/human_hair.yml
  Resources/Textures/_Lust/Mobs/Customization/human_hair.rsi/bluntbungs5.png
  Resources/Textures/_Lust/Mobs/Customization/human_hair.rsi/bluntbungs6.png
  Resources/Textures/_Lust/Mobs/Customization/human_hair.rsi/bluntbungs7.png
  Resources/Textures/_Lust/Mobs/Customization/human_hair.rsi/doublebun_long_not.png
  Resources/Textures/_Lust/Mobs/Customization/human_hair.rsi/meta.json
Labels: Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация, Нет C#, size/S, Несортированный

#330 Плащ ОСО и по мелочи
  Resources/Prototypes/_Lust/Loadouts/Law/IAA.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Neck/cloaks.yml
  Resources/Textures/_Lust/Clothing/Neck/Cloaks/centcom_officer_black.rsi/equipped-NECK.png
  Resources/Textures/_Lust/Clothing/Neck/Cloaks/centcom_officer_black.rsi/icon.png
  Resources/Textures/_Lust/Clothing/Neck/Cloaks/centcom_officer_black.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/Neck/Cloaks/centcom_officer_black.rsi/equipped-NECK.png
  Resources/Textures/_Sunrise/Clothing/Neck/Cloaks/centcom_officer_black.rsi/icon.png
Labels: Статус: Требует Рассмотрения, Изменения: Спрайты, Нет C#, size/XS, size/S, Несортированный

#344 Добавлены лодауты для горничной
  Resources/Locale/ru-RU/_lust/_strings/loadout/loadouts.ftl
  Resources/Locale/ru-RU/_lust/_strings/preferences/loadout-groups.ftl
  Resources/Prototypes/_Lust/Loadouts/Command/commaid.yml
  Resources/Prototypes/_Lust/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Lust/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Lust/Roles/Jobs/Command/commaid.yml
Labels: Статус: Требует Рассмотрения, Изменения: Локализация, Нет C#, size/M, Несортированный

#328 В лоадауте утилизаторов теперь есть плащи за время
  Resources/Prototypes/Loadouts/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/_Lust/Loadouts/Cargo/salvage_specialist.yml
  Resources/Prototypes/_Lust/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Sunrise/Loadouts/loadout_groups.yml
Labels: Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация, Нет C#, size/S, Несортированный

#296 локализация НТ -> Qillu 0.2
  Content.Server/Content.Server.csproj
  Scripts/replace_nt.py
  publish-locale.bat
Labels: Статус: Требует Рассмотрения, Изменения: Локализация, Нет C#, size/S, Несортированный

#352 Фикс плюшки
  Resources/Prototypes/_Lust/Entities/Objects/Fun/toys.yml
Labels: Статус: Требует Рассмотрения, Нет C#, size/XS, size/S, Изменения: Аудио, Несортированный

#355 Мелкий фикс
  Resources/Prototypes/_Lust/Loadouts/Security/head_of_security.yml
Labels: Статус: Требует Рассмотрения, Нет C#, size/S, Несортированный

#370 Плюшки
  Resources/Locale/en-US/_prototypes/_lust/entities/objects/fun/plushie_boxes.ftl
  Resources/Locale/ru-RU/_prototypes/_lust/entities/objects/fun/plushie_boxes.ftl
  Resources/Prototypes/_Lust/Catalog/sponsor_uplink_catalog.yml
  Resources/Prototypes/_Lust/Entities/Objects/Fun/plushie_boxes.yml
Labels: Статус: Требует Рассмотрения, Изменения: Локализация, Нет C#, size/M, Несортированный

#369 one more fix
  Resources/Prototypes/_Lust/Loadouts/Security/head_of_security.yml
Labels: Статус: Требует Рассмотрения, Нет C#, size/M, Несортированный

#367 Замена НТ на QIllu --> fix 1.1
  Tools/_lust/replace_nt.py
Labels: Статус: Требует Рассмотрения, Изменения: Локализация, Нет C#, size/S
