Repository space-sunrise/lust-station, pull requests merged in 2025-02, with the labels that each got.

#154 Fixfixfix
  Content.Client/_Sunrise/ERP/InteractionEui.cs
  Content.Client/_Sunrise/ERP/InteractionWindow.xaml.cs
  Content.Server/_Sunrise/ERP/Systems/InteractionEui.cs
  Content.Server/_Sunrise/ERP/Systems/InteractionSystem.cs
Labels: Статус: Несортированный, Статус: Требует Рассмотрения, size/M, Изменения: Интерфейс

#151 Хотфикс ЕРП действий
  Resources/Prototypes/_Lust/ERP/Interactions/anal_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/ears_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/neck_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/pussy_interactions.yml
Labels: Статус: Несортированный, Статус: Требует Рассмотрения, Нет C#, size/S

#161 Добавление нового реагента стониума и рецепта его варки
  Resources/Locale/en-US/_prototypes/_lust/reagents/fun.ftl
  Resources/Locale/en-US/_strings/_lust/stonium/stonium.ftl
  Resources/Locale/ru-RU/_prototypes/_lust/reagents/fun.ftl
  Resources/Locale/ru-RU/_strings/_lust/stonium/stonium.ftl
  Resources/Prototypes/_Lust/Reagents/fun.yml
  Resources/Prototypes/_Lust/Recipes/Reactions/fun.yml
Labels: Статус: Несортированный, Статус: Требует Рассмотрения, Изменения: Локализация, Нет C#, size/S

#163 [Remove] Убрал присоски для Дилдо
  Resources/Prototypes/_Lust/Entities/ERP/Toys/toys.yml
Labels: Нет C#, size/S

#168 [FIX] Прикручиваем недостающие кнопки сервисному боргу
  Resources/Prototypes/borg_types.yml
Labels: Статус: Несортированный, Статус: Требует Рассмотрения, Нет C#

#169 [FIX] Возвращаем текстуру КПК горничной на место
  Resources/Prototypes/_Lust/Entities/Objects/Devices/pda.yml
Labels: Статус: Несортированный, Статус: Требует Рассмотрения, Нет C#, size/XS

#170 Новый пол: футанари
  Content.Client/Clothing/ClientClothingSystem.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/_Sunrise/ERP/InteractionWindow.xaml.cs
  Content.Server/_Sunrise/ERP/Systems/InteractionSystem.cs
  Content.Server/_Sunrise/Fugitive/FugitiveSystem.cs
  Content.Shared/Humanoid/Sex.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Content.Shared/Inventory/InventoryComponent.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Shared/_Sunrise/ERP/InteractionPrototype.cs
  Content.Shared/_Sunrise/ERP/VirginityLossType.cs
  Content.Shared/_Sunrise/TTS/TTSVoicePrototype.cs
  Resources/Locale/ru-RU/_strings/_lust/futanari/humanoid-profile-editor.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Species/dwarf.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/_Lust/ERP/Interactions/anal_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/balls_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/boobs_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/butt_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/cheeks_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/cock_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/ears_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/face_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/feet_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/friendly_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/horn_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/lips_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/mouth_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/neck_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/pussy_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/tail_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/thighs_interactions.yml
  Resources/Prototypes/_Lust/ERP/Interactions/toyInteractions.yml
  Resources/Prototypes/_Lust/Futanari/futanari.yml
  Resources/Prototypes/_Sunrise/Loadouts/loadout_effects.yml
  Resources/Prototypes/_Sunrise/Species/demon.yml
  Resources/Prototypes/_Sunrise/Species/felinid.yml
  Resources/Prototypes/_Sunrise/Species/tajaran.yml
  Resources/Prototypes/_Sunrise/Species/vulpkanin.yml
  Resources/Prototypes/_Sunrise/tts-voices.yml
  Resources/Prototypes/_Sunrise/tts_voices_sunrise.yml
  Resources/Textures/_Lust/Mobs/Species/Human/parts.rsi/meta.json
  Resources/Textures/_Lust/Mobs/Species/Human/parts.rsi/torso_fut.png
Labels: Статус: Несортированный, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация, size/M, Изменения: Интерфейс

#171 Анальные пробки ввиде хвостов
  Resources/Locale/ru-RU/_prototypes/_lust/entities/erp/toys/toys.ftl
  Resources/Prototypes/_Lust/Catalog/VendingMachines/Inventories/kinkmate.yml
  Resources/Prototypes/_Lust/Entities/ERP/Toys/toys.yml
  Resources/Textures/_Lust/ERP/Toys/cat_tail.rsi/equipped-PLUG.png
  Resources/Textures/_Lust/ERP/Toys/cat_tail.rsi/icon.png
  Resources/Textures/_Lust/ERP/Toys/cat_tail.rsi/meta.json
  Resources/Textures/_Lust/ERP/Toys/fox_tail.rsi/equipped-PLUG.png
  Resources/Textures/_Lust/ERP/Toys/fox_tail.rsi/icon.png
  Resources/Textures/_Lust/ERP/Toys/fox_tail.rsi/meta.json
Labels: Статус: Несортированный, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация, Нет C#

#174 [CN] Очистка ластшопа от лишних плюшек и добавление двух победителей голосования
  Resources/Locale/ru-RU/_prototypes/_lust/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/_strings/_lust/datasets/borman-serkiroboy.ftl
  Resources/Locale/ru-RU/_strings/_lust/datasets/bykov.ftl
  Resources/Locale/ru-RU/_strings/_lust/datasets/dobitchik.ftl
  Resources/Locale/ru-RU/_strings/_lust/datasets/igor-volkov.ftl
  Resources/Locale/ru-RU/_strings/_lust/datasets/klara-isaeva.ftl
  Resources/Locale/ru-RU/_strings/_lust/datasets/medi.ftl
  Resources/Locale/ru-RU/_strings/_lust/datasets/mike-schmidt.ftl
  Resources/Locale/ru-RU/_strings/_lust/datasets/tailer-murkilin.ftl
  Resources/Prototypes/_Lust/Catalog/sponsor_uplink_catalog.yml
  Resources/Prototypes/_Lust/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/alisa_saygak.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/bloba_blabo.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/borman_sekiroboy.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/bykov.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/charlie_fleur.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/cosmic_star_dust.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/ded_plushie.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/dobitchik.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/igor_volkov.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/iv-heart.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/klara_isaeva.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/kuromi_olink.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/mike_schmidt.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/neiiria.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/niko.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/plush_medi.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/plushie-alice-simonova.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/plushie-rx.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/ratmir_saphirov.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/shiro-heart.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/shiro-solo.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/shon_roz.png
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/tailer-murlikin.png
Labels: Статус: Несортированный, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация, Нет C#, size/M

#178 Еще фикс футанари
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Player/vulpkanin.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/demon.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/tajaran.yml
Labels: Статус: Несортированный, Нет C#, size/XS

#179 Заменён спрайт иконки Антикварного пистолета.
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/icon.png
Labels: Статус: Несортированный, Статус: Требует Рассмотрения, Изменения: Спрайты, Нет C#, size/XS
