Repository space-sunrise/lust-station, pull requests merged in 2025-05, with the labels that each got.

#229 Специальная стойка для любителей пожёстче*
  Resources/Prototypes/_Lust/Catalog/VendingMachines/Inventories/kinkmate.yml
  Resources/Prototypes/_Lust/ERP/Other/Structure/sex_rack.yml
  Resources/Textures/_Lust/ERP/Furniture/sexrack.rsi/meta.json
  Resources/Textures/_Lust/ERP/Furniture/sexrack.rsi/sexrack-flatpack.png
  Resources/Textures/_Lust/ERP/Furniture/sexrack.rsi/sexrack.png
Labels: Изменения: Спрайты, Нет C#

#230 Добавление категории "Эротическое" в Lust Shop
  Resources/Locale/en-US/_strings/_lust/store/categories.ftl
  Resources/Locale/ru-RU/_strings/_lust/store/categories.ftl
  Resources/Prototypes/_Lust/Catalog/sponsor_uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/donation_plinks.yml
  Resources/Prototypes/_Sunrise/Store/categories.yml
Labels: Изменения: Локализация, Нет C#, size/M

#233 Фикс Горничной Командования
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: Нет C#, size/XS, Несортированный

#235 Удаление экстры из пулла Секрета
  Resources/Prototypes/_Sunrise/secret_weights.yml
Labels: Нет C#, size/S, Несортированный

#249 Кошачьи лапки
  Resources/Locale/ru-RU/_prototypes/_lust/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/_strings/datasets/figurines.ftl
  Resources/Prototypes/Datasets/figurines.yml
  Resources/Prototypes/_Lust/Catalog/VendingMachines/Inventories/kinkmate.yml
  Resources/Prototypes/_Lust/Catalog/sponsor_uplink_catalog.yml
  Resources/Prototypes/_Lust/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Lust/Prototypes/Entities/Clothing/Uniforms/paws.yml
  Resources/Prototypes/_Lust/Roles/Jobs/Command/commaid.yml
  Resources/Textures/_Lust/Clothing/Paws/cat_paws_gloves/black.rsi/equipped-HAND.png
  Resources/Textures/_Lust/Clothing/Paws/cat_paws_gloves/black.rsi/icon.png
  Resources/Textures/_Lust/Clothing/Paws/cat_paws_gloves/black.rsi/meta.json
  Resources/Textures/_Lust/Clothing/Paws/cat_paws_gloves/black_white.rsi/equipped-HAND.png
  Resources/Textures/_Lust/Clothing/Paws/cat_paws_gloves/black_white.rsi/icon.png
  Resources/Textures/_Lust/Clothing/Paws/cat_paws_gloves/black_white.rsi/meta.json
  Resources/Textures/_Lust/Clothing/Paws/cat_paws_gloves/brown.rsi/equipped-HAND.png
  Resources/Textures/_Lust/Clothing/Paws/cat_paws_gloves/brown.rsi/icon.png
  Resources/Textures/_Lust/Clothing/Paws/cat_paws_gloves/brown.rsi/meta.json
  Resources/Textures/_Lust/Clothing/Paws/cat_paws_gloves/white.rsi/equipped-HAND.png
  Resources/Textures/_Lust/Clothing/Paws/cat_paws_gloves/white.rsi/icon.png
  Resources/Textures/_Lust/Clothing/Paws/cat_paws_gloves/white.rsi/meta.json
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/plushie-andrea.png
Labels: Изменения: Спрайты, Изменения: Локализация, Нет C#, size/M, Несортированный

#254 Несколько ревертов
  Resources/Changelog/ChangelogLust.yml
  Resources/Locale/ru-RU/_prototypes/_lust/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/_strings/datasets/figurines.ftl
  Resources/Prototypes/Datasets/figurines.yml
  Resources/Prototypes/_Lust/Catalog/sponsor_uplink_catalog.yml
  Resources/Prototypes/_Lust/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Lust/Objects/Fun/toys.rsi/plushie-andrea.png
Labels: Изменения: Спрайты, Изменения: Локализация, Нет C#, size/S, Несортированный
